In [313]:
import os
import pandas as pd
import matplotlib as mpl
import numpy as np
from sklearn.model_selection import train_test_split
import nltk
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [314]:
data = []
folder_spam = r'H:\CodePy\BaiThi2\BaiThi2\TrainData\spam'
folder_notspam = r'H:\CodePy\BaiThi2\BaiThi2\TrainData\notspam'

for filename in os.listdir(folder_spam):
    if filename.endswith('.txt'): # Chỉ đọc file có đuôi là .txt
        file_path = os.path.join(folder_spam, filename)
        with open(file_path, 'r') as file:
            content = file.read()
            data.append({'label' : 1, 'content' : content})

for filename in os.listdir(folder_notspam):
    if filename.endswith('.txt'): # Chỉ đọc file có đuôi là .txt
        file_path = os.path.join(folder_notspam, filename)
        with open(file_path, 'r') as file:
            content = file.read()
            data.append({'label' : 0, 'content' : content})
           

df = pd.DataFrame(data) 
df

     label                                            content
0        1  Subject: great part-time summer job !\n\n* * *...
1        1  Subject: wanted ! home product assemblers !\n\...
2        1  Subject: secrets noveau rich\n\nstumbled upon ...
3        1  Subject: does debt-free sound ?\n\nsounds , he...
4        1  Subject: `\n\nhello ! our naughty little city ...
..     ...                                                ...
206      0  Subject: workbook\n\n' 95 ' m teaching unit ca...
207      0  Subject: language requirements teachers\n\nfew...
208      0  Subject: tenure - track opening japanese\n\npr...
209      0  Subject: tenure - track positions available\n\...
210      0  Subject: job - university utah\n\nlinguistics ...

[211 rows x 2 columns]

In [315]:
import re

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\W+', ' ', text)
    return text

df['tokens'] = df['content'].apply(preprocess_text)
display(df)

,label,content,tokens
0,1,Subject: great part-time summer job !\n\n* * *...,subject great part time summer job display box...
1,1,Subject: wanted ! home product assemblers !\n\...,subject wanted home product assemblers looking...
2,1,Subject: secrets noveau rich\n\nstumbled upon ...,subject secrets noveau rich stumbled upon some...
3,1,"Subject: does debt-free sound ?\n\nsounds , he...",subject does debt free sound sounds help attai...
4,1,Subject: `\n\nhello ! our naughty little city ...,subject hello our naughty little city made esp...
...,...,...,...
206,0,Subject: workbook\n\n' 95 ' m teaching unit ca...,subject workbook 95 m teaching unit called des...
207,0,Subject: language requirements teachers\n\nfew...,subject language requirements teachers few wee...
208,0,Subject: tenure - track opening japanese\n\npr...,subject tenure track opening japanese previous...
209,0,Subject: tenure - track positions available\n\...,subject tenure track positions available tenur...
210,0,Subject: job - university utah\n\nlinguistics ...,subject job university utah linguistics progra...

In [316]:
stop_words = set(stopwords.words('english'))

def remove_stopwords(tokens):
    return [word for word in tokens if not word in stop_words]

def tokenize_text(text):
    tokens = word_tokenize(text)
    tokens = remove_stopwords(tokens)
    return tokens

df['tokens'] = df['tokens'].apply(tokenize_text)
display(df)
df['tokens'].iloc[0]

,label,content,tokens
0,1,Subject: great part-time summer job !\n\n* * *...,"[subject, great, part, time, summer, job, disp..."
1,1,Subject: wanted ! home product assemblers !\n\...,"[subject, wanted, home, product, assemblers, l..."
2,1,Subject: secrets noveau rich\n\nstumbled upon ...,"[subject, secrets, noveau, rich, stumbled, upo..."
3,1,"Subject: does debt-free sound ?\n\nsounds , he...","[subject, debt, free, sound, sounds, help, att..."
4,1,Subject: `\n\nhello ! our naughty little city ...,"[subject, hello, naughty, little, city, made, ..."
...,...,...,...
206,0,Subject: workbook\n\n' 95 ' m teaching unit ca...,"[subject, workbook, 95, teaching, unit, called..."
207,0,Subject: language requirements teachers\n\nfew...,"[subject, language, requirements, teachers, we..."
208,0,Subject: tenure - track opening japanese\n\npr...,"[subject, tenure, track, opening, japanese, pr..."
209,0,Subject: tenure - track positions available\n\...,"[subject, tenure, track, positions, available,..."
210,0,Subject: job - university utah\n\nlinguistics ...,"[subject, job, university, utah, linguistics, ..."

['subject',
 'great',
 'part',
 'time',
 'summer',
 'job',
 'display',
 'boxes',
 'credit',
 'applications',
 'need',
 'place',
 'small',
 'owner',
 'operated',
 'stores',
 'area',
 '1',
 'introduce',
 'store',
 'owner',
 'manager',
 '2',
 '90',
 'effective',
 'script',
 'tells',
 'little',
 'display',
 'box',
 'save',
 'customers',
 'hundreds',
 'dollars',
 'drawing',
 'card',
 'business',
 '5',
 '00',
 '15',
 '00',
 'every',
 'app',
 'sent',
 '3',
 'spot',
 'counter',
 'place',
 'box',
 'nothing',
 'need',
 'done',
 'need',
 'name',
 'address',
 'company',
 'send',
 'commission',
 'checks',
 'compensaation',
 '10',
 'every',
 'box',
 'place',
 'becoming',
 'representative',
 'earn',
 'commission',
 '10',
 'application',
 'came',
 'store',
 'course',
 'much',
 'profitable',
 'plan',
 'pay',
 'months',
 'years',
 'small',
 'effort',
 'call',
 '1',
 '888',
 '703',
 '5390',
 'code',
 '3',
 '24',
 'hours',
 'receive',
 'details',
 'removed',
 'mailing',
 'list',
 'type',
 'b2998',
 'hotmail',
 'com',
 'area',
 'remove',
 'subject',
 'area',
 'e',
 'mail',
 'send']

In [317]:
stemmer = PorterStemmer()
def stemming(tokens):
    stemmed_tokens = [stemmer.stem(word) for word in tokens]
    return stemmed_tokens
df['tokens'] = df['tokens'].apply(stemming)
display(df)
df['tokens'].iloc[0]

,label,content,tokens
0,1,Subject: great part-time summer job !\n\n* * *...,"[subject, great, part, time, summer, job, disp..."
1,1,Subject: wanted ! home product assemblers !\n\...,"[subject, want, home, product, assembl, look, ..."
2,1,Subject: secrets noveau rich\n\nstumbled upon ...,"[subject, secret, noveau, rich, stumbl, upon, ..."
3,1,"Subject: does debt-free sound ?\n\nsounds , he...","[subject, debt, free, sound, sound, help, atta..."
4,1,Subject: `\n\nhello ! our naughty little city ...,"[subject, hello, naughti, littl, citi, made, e..."
...,...,...,...
206,0,Subject: workbook\n\n' 95 ' m teaching unit ca...,"[subject, workbook, 95, teach, unit, call, des..."
207,0,Subject: language requirements teachers\n\nfew...,"[subject, languag, requir, teacher, week, ago,..."
208,0,Subject: tenure - track opening japanese\n\npr...,"[subject, tenur, track, open, japanes, previou..."
209,0,Subject: tenure - track positions available\n\...,"[subject, tenur, track, posit, avail, tenur, t..."
210,0,Subject: job - university utah\n\nlinguistics ...,"[subject, job, univers, utah, linguist, progra..."

['subject',
 'great',
 'part',
 'time',
 'summer',
 'job',
 'display',
 'box',
 'credit',
 'applic',
 'need',
 'place',
 'small',
 'owner',
 'oper',
 'store',
 'area',
 '1',
 'introduc',
 'store',
 'owner',
 'manag',
 '2',
 '90',
 'effect',
 'script',
 'tell',
 'littl',
 'display',
 'box',
 'save',
 'custom',
 'hundr',
 'dollar',
 'draw',
 'card',
 'busi',
 '5',
 '00',
 '15',
 '00',
 'everi',
 'app',
 'sent',
 '3',
 'spot',
 'counter',
 'place',
 'box',
 'noth',
 'need',
 'done',
 'need',
 'name',
 'address',
 'compani',
 'send',
 'commiss',
 'check',
 'compensa',
 '10',
 'everi',
 'box',
 'place',
 'becom',
 'repres',
 'earn',
 'commiss',
 '10',
 'applic',
 'came',
 'store',
 'cours',
 'much',
 'profit',
 'plan',
 'pay',
 'month',
 'year',
 'small',
 'effort',
 'call',
 '1',
 '888',
 '703',
 '5390',
 'code',
 '3',
 '24',
 'hour',
 'receiv',
 'detail',
 'remov',
 'mail',
 'list',
 'type',
 'b2998',
 'hotmail',
 'com',
 'area',
 'remov',
 'subject',
 'area',
 'e',
 'mail',
 'send']

In [318]:
def to_string(tokens):
    s = ""
    for i in tokens:
        i += " "
        s += i
    return s
df['tokens'] = df['tokens'].apply(to_string)
df

,label,content,tokens
0,1,Subject: great part-time summer job !\n\n* * *...,subject great part time summer job display box...
1,1,Subject: wanted ! home product assemblers !\n\...,subject want home product assembl look home pr...
2,1,Subject: secrets noveau rich\n\nstumbled upon ...,subject secret noveau rich stumbl upon someth ...
3,1,"Subject: does debt-free sound ?\n\nsounds , he...",subject debt free sound sound help attain goal...
4,1,Subject: `\n\nhello ! our naughty little city ...,subject hello naughti littl citi made especi a...
...,...,...,...
206,0,Subject: workbook\n\n' 95 ' m teaching unit ca...,subject workbook 95 teach unit call descrippt ...
207,0,Subject: language requirements teachers\n\nfew...,subject languag requir teacher week ago direct...
208,0,Subject: tenure - track opening japanese\n\npr...,subject tenur track open japanes previous post...
209,0,Subject: tenure - track positions available\n\...,subject tenur track posit avail tenur track po...
210,0,Subject: job - university utah\n\nlinguistics ...,subject job univers utah linguist program univ...

In [319]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Chuyển đổi dữ liệu sang dạng vector
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['tokens'])

# Hiển thị số chiều của ma trận vector
print(X.shape)

(211, 8673)

In [320]:
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

In [321]:
from sklearn.preprocessing import StandardScaler

# Tiêu chuẩn hóa dữ liệu

scaler = StandardScaler(with_mean=False)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [322]:
clf = MultinomialNB()

# Huấn luyện mô hình
clf.fit(X_train, y_train)

# Dự đoán nhãn của các email trong tập kiểm tra
y_pred = clf.predict(X_test)

# Đánh giá độ chính xác của mô hình
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 1.0

In [323]:
data = []
folder_test = r'H:\CodePy\BaiThi2\BaiThi2\TestData_nolabel'

for filename in os.listdir(folder_test):
    if filename.endswith('.txt'): # Chỉ đọc file có đuôi là .txt
        file_path = os.path.join(folder_test, filename)
        with open(file_path, 'r') as file:
            content = file.read()
            data.append({'content' : content, 'name' : filename})
df1 = pd.DataFrame(data)
df1

                                              content            name
0   Subject: base generated adjuncts\n\ndoes anyon...   0_unknown.txt
1   Subject: 4th nottingham international systemic...  10_unknown.txt
2   Subject: salk insitute job\n\nresearch positio...  11_unknown.txt
3   Subject: speaks languages ?\n\n> > : vicki fro...  12_unknown.txt
4   Subject: syntax query\n\nmember tesl - l list ...  13_unknown.txt
..                                                ...             ...
73  Subject: credit program " guaranteed credit "\...  76_unknown.txt
74  Subject: free promotional offer\n\n' ' own 100...  77_unknown.txt
75  Subject: re : 3 . 387 rules , tone grammar\n\n...   7_unknown.txt
76  Subject: rules\n\n3 . 387 martti arnold nyman ...   8_unknown.txt
77  Subject: iscll3\n\nthird international symposi...   9_unknown.txt

[78 rows x 2 columns]

In [324]:
df1['tokens'] = df1['content'].apply(preprocess_text)

In [325]:
df1['tokens'] = df1['tokens'].apply(tokenize_text)

In [326]:
df1['tokens'] = df1['tokens'].apply(stemming)

In [327]:
df1['tokens'] = df1['tokens'].apply(to_string)
df1

,content,name,tokens
0,Subject: base generated adjuncts\n\ndoes anyon...,0_unknown.txt,subject base gener adjunct anyon refer mechan ...
1,Subject: 4th nottingham international systemic...,10_unknown.txt,subject 4th nottingham intern system workshop ...
2,Subject: salk insitute job\n\nresearch positio...,11_unknown.txt,subject salk insitut job research posit salk i...
3,Subject: speaks languages ?\n\n> > : vicki fro...,12_unknown.txt,subject speak languag vicki fromkin iyo1vaf mv...
4,Subject: syntax query\n\nmember tesl - l list ...,13_unknown.txt,subject syntax queri member tesl l list ask po...
...,...,...,...
73,"Subject: credit program "" guaranteed credit ""\...",76_unknown.txt,subject credit program guarante credit bad cre...
74,Subject: free promotional offer\n\n' ' own 100...,77_unknown.txt,subject free promot offer 100 free web site si...
75,"Subject: re : 3 . 387 rules , tone grammar\n\n...",7_unknown.txt,subject 3 387 rule tone grammar respons eric s...
76,Subject: rules\n\n3 . 387 martti arnold nyman ...,8_unknown.txt,subject rule 3 387 martti arnold nyman manyman...
77,Subject: iscll3\n\nthird international symposi...,9_unknown.txt,subject iscll3 third intern symposium chines l...

In [328]:
X = vectorizer.transform(df1['tokens'])
scaler = StandardScaler(with_mean=False)
X = scaler.fit_transform(X)
y = clf.predict(X)
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 1 0 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 0 0 0]

In [329]:
df2 = pd.DataFrame({'label' : y})
df1 = df1.iloc[:, 1]
display(df1)
df1 = pd.concat([df1, df2], axis = 1)
df1

0      0_unknown.txt
1     10_unknown.txt
2     11_unknown.txt
3     12_unknown.txt
4     13_unknown.txt
           ...
73    76_unknown.txt
74    77_unknown.txt
75     7_unknown.txt
76     8_unknown.txt
77     9_unknown.txt
Name: name, Length: 78, dtype: object

              name  label
0    0_unknown.txt      0
1   10_unknown.txt      0
2   11_unknown.txt      0
3   12_unknown.txt      0
4   13_unknown.txt      0
..             ...    ...
73  76_unknown.txt      1
74  77_unknown.txt      1
75   7_unknown.txt      0
76   8_unknown.txt      0
77   9_unknown.txt      0

[78 rows x 2 columns]

In [330]:
df1['label'] = df1['label'].map({1 :'spam', 0: 'notspam'})

In [331]:
df1.to_csv('testdata_havelabel.csv')